body {
    margin: 0;
}
.cabecario {
    background-color: rgb(241, 126, 149);
    height: 30px;
    padding: 20px 15px;
}
.titulo-logo {
    font-size: 20px;
    margin: 0;
    font-family: serif ;
    color: #ffffff;
}
.logo {
    display: flex;
}
.conteudo {
    padding: 15px;
    display: flex;
}
.card {
    border: 1px solid rgb(240, 148, 148);
    width: 200px;
    height: 380px;
    margin: auto;
    border-radius: 6px;
    padding: 3px;
    font-family: serif;
    position: relative;
    box-shadow: 1px 2px 3px 2px rgb(160 39 99 / 28%);
}
.card:hover {
    background-color: rgba(0, 0, 0, 0.048);
    box-shadow: 1px 2px 3px 2px rgba(160, 39, 99, 0.651);
}
p {
    font-size: 14px;
    margin: 8px 0px;
}
a {
    position: absolute;
    bottom: 5px;
}
.sub-titulo {
    text-align: center;
    color: rgb(214, 91, 91);
}
.card-cont {
    padding: 0 5px;
}